<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

 <appender name="hibernate-warn" class="ch.qos.logback.core.ConsoleAppender">
 	<filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>WARN</level>
        <onMatch>ACCEPT</onMatch>
     	<onMismatch>DENY</onMismatch>
    </filter>
	<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
		<Pattern>
			%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %yellow(%.-5level) %logger{36} - %msg%n
        </Pattern>
	</encoder>
 </appender>
 
 <appender name="hibernate-info" class="ch.qos.logback.core.ConsoleAppender">
 	<filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>INFO</level>
        <onMatch>ACCEPT</onMatch>
      	<onMismatch>DENY</onMismatch>
    </filter>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
		<Pattern>
			%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %green(%.-5level) %logger{36} - %msg%n
        </Pattern>
	</encoder>
 </appender>
 
 <appender name="hibernate-error" class="ch.qos.logback.core.ConsoleAppender">
 	<filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>ERROR</level>
        <onMatch>ACCEPT</onMatch>
      	<onMismatch>DENY</onMismatch>
    </filter>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
		<Pattern>
			%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %red(%.-5level) %logger{36} - %msg%n
        </Pattern>
	</encoder>
 </appender>
 
 <appender name="hibernate-debug" class="ch.qos.logback.core.ConsoleAppender">
 	<filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>DEBUG</level>
        <onMatch>ACCEPT</onMatch>
      	<onMismatch>DENY</onMismatch>
    </filter>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
		<Pattern>
			%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %blue(%.-5level) %logger{36} - %msg%n
        </Pattern>
	</encoder>
 </appender>

  <logger name="org.hibernate" level="ALL">
  	<appender-ref ref="hibernate-warn" />
  	<appender-ref ref="hibernate-info" />
  	<appender-ref ref="hibernate-error" />
  	<appender-ref ref="hibernate-debug" />
  </logger>
  <logger name="org.springframework" level="OFF" >
<!--   	<appender-ref ref="AP" /> -->
  </logger>
  <logger name="hu.bertalanadam.prt.beadando" level="OFF" >
<!--   	<appender-ref ref="AP" /> -->
  </logger>
  <logger name="org.jboss.logging" level="OFF" >
<!--   	<appender-ref ref="AP" /> -->
  </logger>

</configuration>